<template name="home">
 
<h1 class="home-header">Tzivia Halperin</h1>

<h2 class="home-subheader">writing and photography from a brain on the loose</h2>

<!-- image. I'll fix this later-->
<p style="text-align: center;"><big><big><big><big style="font-weight: normal;"><small><span style="font-family: BDToulouse;"><img style="width: 500px; height: 337px;" alt="" src="/Users/Tzivia/Downloads/4748847005_5824e560fa.jpg"><small><br>
</small></span></small></big></big></big></big></p>
<!--end image-->

<div class="row home-menu">
  <div class="col-md-3"><a class="home-subheader">Essays</a></div>
  <div class="col-md-3"><a class="home-subheader">Articles</a></div>
  <div class="col-md-3"><a class="home-subheader">Blog</a></div>
  <div class="col-md-3"><a class="home-subheader">Contact</a></div>
</div>


</template>