@font-face {
    font-family: BrainFlower;
    src: url("BrainFlower.ttf");
}

@font-face {
    font-family: BDToulouse;
    src: url("BDToulouse.ttf");
}

.home-header {
    font-family: BrainFlower;
    text-align: center;
    font-size: 84px;
}

.home-subheader {
    text-align:center;
    font-family: BDToulouse;
    color: #5C5C5C;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

.home-menu {
    font-size: 200%;
    padding-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.col-md-3 > a {
  text-align: center;
  position: relative;
  text-decoration: none;
}


.col-md-3 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #3779B3;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;  
}

.col-md-3 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}